<html>
<head>
</head>
<body>
<h1>串口服务器命令测试</h1>
<form method='post' enctype='multipart/form-data'>
请把串口命令填写到下面表格：<br>
    MAC: <input type="text" name="mac_address" /><br/>
    Action:
    <select name="action">
        <option>open</option>
        <option>check</option>
    </select><br/>
    Box: <input type="number" name="box" /><br/>
    <textarea name="data" cols="100" rows="10" warp="virtual"></textarea>
    <br/>
    <input type='submit' name="submit" value="发送" />
</form>
串口返回：<br>
{{uf}}
</body>
</html>